@import "tailwindcss";

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
  }

  html {
    margin: 0;
  }
}

.colors {
  --primary-DarkGreen: #002916;
  --primary-Green: #00331c;
  --primary-MediumGreen: #007842;
  --primary-LightestGreen: #009a57;
  --primary-LightestestGreen: #e6f5ee;

  --secondary-color: #a5cb00;
  --secondary-color-light: #e6f2ef;

  --border-color: #e2e2e2;
  --shadow-color: #f2f2f7;

  --red-color: #e85b48;
  --red-color-light: #e98375;

  --black-color: #333333;

  --text-primary-color: #676767;
  --text-secondary-color: #79807c;

  --placeholder-color: #8b9590;

  --gray-color: #555c62;
  --gray-color-light: #707070;
  --gray-color-lighter: #adadad;
  --gray-color-lightest: #dedede;

  --white-color: #dedede;
}
